/* normalize */
@import url(../css/normalize.css);
/* variables, mixins */
/* layout setups */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px; }

*::selection {
  background-color: #f9b43b;
  color: #ffffff; }

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 1100px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .wrapper {
      min-width: 768px; } }
  @media (max-width: 480px) {
    .wrapper {
      min-width: 480px; } }

.section {
  background-position: top center;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  max-width: 940px;
  padding: 0 8%;
  margin: 0 auto;
  position: relative;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    .container {
      max-width: 708px;
      padding: 0 4%; } }
  @media (max-width: 480px) {
    .container {
      max-width: 440px;
      padding: 0 4.5%; } }

.logo {
  width: 92px;
  height: 69px; }

.buy-button {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-transform: uppercase;
  padding: 11px 15px;
  text-decoration: none;
  background-color: #e45028;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none; }

.buy-button:hover {
  background-color: #c1401e; }

.anchor-pagintaion {
  position: fixed;
  z-index: 200;
  top: 90px;
  right: 4.5%; }

.anchor-pagintaion__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.anchor-pagintaion__link {
  font-size: 0px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin-bottom: 15px;
  position: relative;
  background-color: #ffffff; }
  .anchor-pagintaion__link::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 100%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 3px;
    left: 3px;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.4s; }

.anchor-pagintaion__link--active {
  position: relative; }
  .anchor-pagintaion__link--active::after {
    opacity: 1; }

.anchor-pagintaion__link:hover::after {
  opacity: 1; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'Lifehack';
  src: url("/fonts/Lifehack-Medium.eot");
  src: url("/fonts/Lifehack-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Lifehack-Medium.woff2") format("woff2"), url("/fonts/Lifehack-Medium.woff") format("woff"), url("/fonts/Lifehack-Medium.ttf") format("truetype"), url("/fonts/Lifehack-Medium.svg#Lifehack-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("/fonts/Gagalin-Regular.eot");
  src: url("/fonts/Gagalin-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Gagalin-Regular.woff2") format("woff2"), url("/fonts/Gagalin-Regular.woff") format("woff"), url("/fonts/Gagalin-Regular.ttf") format("truetype"), url("/fonts/Gagalin-Regular.svg#Gagalin-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Light.eot");
  src: url("/fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Ubuntu-Light.woff2") format("woff2"), url("/fonts/Ubuntu-Light.woff") format("woff"), url("/fonts/Ubuntu-Light.ttf") format("truetype"), url("/fonts/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Medium.eot");
  src: url("/fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Ubuntu-Medium.woff2") format("woff2"), url("/fonts/Ubuntu-Medium.woff") format("woff"), url("/fonts/Ubuntu-Medium.ttf") format("truetype"), url("/fonts/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu.eot");
  src: url("/fonts/Ubuntu.eot?#iefix") format("embedded-opentype"), url("/fonts/Ubuntu.woff2") format("woff2"), url("/fonts/Ubuntu.woff") format("woff"), url("/fonts/Ubuntu.ttf") format("truetype"), url("/fonts/Ubuntu.svg#Ubuntu") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Bold.eot");
  src: url("/fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Ubuntu-Bold.woff2") format("woff2"), url("/fonts/Ubuntu-Bold.woff") format("woff"), url("/fonts/Ubuntu-Bold.ttf") format("truetype"), url("/fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* sections */
.intro {
  background-image: url("/images/intro-bg.png"); }

.container--intro {
  min-height: 100vh;
  justify-content: space-between; }

.header {
  position: relative;
  padding-top: 12px;
  display: flex;
  align-items: center;
  width: 100%; }

.logo--intro {
  margin-right: 15px; }

.header__nav {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; }

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: right; }
  @media (max-width: 768px) {
    .header__list {
      display: none; } }

.header__list-item {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-transform: uppercase;
  display: inline-block;
  position: relative; }
  .header__list-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #ffffff;
    right: -2px;
    bottom: 9px; }
  .header__list-item:last-child::after {
    display: none; }

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  position: relative; }

.intro__visual {
  display: flex;
  margin: 0; }
  @media (max-width: 768px) {
    .intro__visual {
      flex-direction: column;
      align-items: center;
      width: 75%; } }

.header__hambmenu-btn {
  width: 24px;
  height: 22px;
  cursor: pointer;
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  border: none;
  position: relative;
  display: none; }
  @media (max-width: 768px) {
    .header__hambmenu-btn {
      display: block; } }

.header__hambmenu-btn-lines {
  width: 24px;
  height: 4px;
  position: absolute;
  top: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff; }

.intro__picture {
  width: 451px;
  height: 424px;
  margin-right: 10px; }
  @media (max-width: 768px) {
    .intro__picture {
      margin-right: 0;
      margin-bottom: 20px; } }

.intro__title {
  color: #f9b43b;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
  margin: 0;
  margin-top: 130px; }
  @media (max-width: 768px) {
    .intro__title {
      text-align: center;
      margin-top: 0; } }

.intro__title--lettering {
  display: block;
  font-size: 65px;
  color: #ffffff;
  line-height: 85px;
  font-family: "Lifehack";
  font-weight: 500; }

.intro__control-down {
  font-size: 0px;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px; }
  .intro__control-down svg {
    width: 30px;
    height: 20px;
    fill: #ffffff;
    transition-property: all;
    transition-duration: 0.5s; }
    .intro__control-down svg:hover {
      fill: #f9b43b; }

.hambmenu {
  background-color: #2f3234;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10000;
  display: none;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.container--hambmenu {
  min-width: 708px; }
  @media (max-width: 480px) {
    .container--hambmenu {
      min-width: 440px; } }

.hambmenu__header {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto; }

.hambmenu__close-btn {
  position: relative;
  cursor: pointer;
  display: block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  color: #ffffff; }
  .hambmenu__close-btn::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #c1c2c2;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(45deg); }
  .hambmenu__close-btn::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #c1c2c2;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(-45deg); }

.hambmenu__nav {
  margin-top: 180px; }
  @media (max-width: 480px) {
    .hambmenu__nav {
      margin-top: 100px; } }

.hambmenu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal; }

.hambmenu__list-item {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 23px;
  position: relative; }
  .hambmenu__list-item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #c1c2c2; }
  .hambmenu__list-item:last-child {
    padding: 0;
    margin: 0; }
    .hambmenu__list-item:last-child::after {
      display: none; }

.hambmenu__link {
  color: #c1c2c2;
  text-decoration: none; }

.features {
  background-image: url("/images/features-bg.png"); }

.features__title {
  color: #2f3234;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start; }
  @media (max-width: 480px) {
    .features__list {
      flex-direction: column;
      justify-content: flex-start;
      text-align: left; } }

.features__list-item {
  padding-top: 120px;
  margin-right: 3.65%;
  flex-basis: 280px;
  flex-grow: 1; }
  .features__list-item:last-child {
    margin-right: 0; }
  .features__list-item:nth-child(1) {
    background-image: url("/images/icons/meat.svg");
    background-repeat: no-repeat;
    background-position: top center; }
    @media (max-width: 480px) {
      .features__list-item:nth-child(1) {
        background-position: left top; } }
  .features__list-item:nth-child(2) {
    background-image: url("/images/icons/hand.svg");
    background-repeat: no-repeat;
    background-position: top center; }
    @media (max-width: 480px) {
      .features__list-item:nth-child(2) {
        background-position: left top; } }
  .features__list-item:nth-child(3) {
    background-image: url("/images/icons/natural.svg");
    background-repeat: no-repeat;
    background-position: top center; }
    @media (max-width: 480px) {
      .features__list-item:nth-child(3) {
        background-position: left top;
        margin-bottom: 0; } }
  @media (max-width: 480px) {
    .features__list-item {
      margin-right: 0;
      flex-basis: auto;
      padding-top: 0;
      padding-left: 120px;
      margin-bottom: 40px; } }

.features__description {
  color: #2f3234;
  font-family: "Lifehack", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px; }

.features__info {
  margin: 0;
  color: rgba(47, 50, 52, 0.8);
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 20px; }

.products {
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 50%, #f9b43b 75%, #f9b43b 100%); }

.container--products-section {
  flex-direction: row;
  overflow: hidden; }
  @media (max-width: 768px) {
    .container--products-section {
      flex-direction: column; } }

.products__slider {
  display: flex;
  justify-content: flex-start;
  overflow: hidden; }

.products__slider-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 100%; }

.products__image-container {
  width: 60%;
  height: auto;
  margin-right: 25px; }
  @media (max-width: 768px) {
    .products__image-container {
      margin-right: 0;
      width: 75%; } }

@media (max-width: 768px) {
  .products__image {
    width: 100%; } }

.products__description {
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .products__description {
      align-items: center;
      text-align: center;
      width: 75%; } }
  @media (max-width: 480px) {
    .products__description {
      width: 100%; } }

.products__name {
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 45px; }

.products__info {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
  margin-bottom: 20px; }

.products__buy {
  display: flex;
  align-items: flex-end; }

.products__price {
  color: #e35028;
  font-family: "Gagalin", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 72px;
  letter-spacing: -2px; }

.products__price--small {
  color: #e35028;
  font-family: "Gagalin", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 30px;
  letter-spacing: -1px; }

.products__control {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0; }
  .products__control svg {
    width: 27px;
    height: 13px;
    fill: #ffffff; }
  .products__control--left {
    left: 40px;
    transform: rotate(90deg); }
    @media (max-width: 480px) {
      .products__control--left {
        left: 10px; } }
  .products__control--right {
    right: 40px;
    transform: rotate(-90deg); }
    @media (max-width: 480px) {
      .products__control--right {
        right: 10px; } }

.products__ingridients-button {
  position: absolute;
  top: 0;
  left: 80px;
  width: 90px;
  height: 90px;
  background-color: #f08c33;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  color: #ffffff; }
  .products__ingridients-button:hover, .products__ingridients-button:active {
    background-color: #e35028; }
    .products__ingridients-button:hover + .products__ingridients-list, .products__ingridients-button:active + .products__ingridients-list {
      opacity: 1; }
  @media (max-width: 768px) {
    .products__ingridients-button {
      left: 30px; } }

.products__ingridients-title {
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-top: 55px;
  background-image: url("/images/icons/burger.svg");
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: top center; }

.products__ingridients-list {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s;
  width: 230px;
  height: 290px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 170px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .products__ingridients-list {
      left: 120px; } }

.products__ingridient-item {
  list-style: none;
  color: #2f3234;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding-left: 0; }

.products__ingridient-image {
  display: inline-block;
  width: 42px;
  height: 37px;
  margin-right: 20px; }

.products__ingridient-size {
  margin-left: auto;
  font-weight: 300; }

.products__kkal {
  position: absolute;
  bottom: 0;
  left: 80px;
  width: 60px;
  height: 75px;
  background-image: url("/images/icons/kkal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  @media (max-width: 768px) {
    .products__kkal {
      bottom: auto;
      left: auto;
      top: 0;
      right: 30px; } }

.products__kkal-number {
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1; }

.products__kkal-text {
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1px;
  margin-top: 25px; }

.team {
  background-image: url("/images/team-bg.jpg"); }

.team__content {
  background-color: rgba(47, 50, 52, 0.9);
  width: 50%;
  min-height: 100vh;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    .team__content {
      margin-left: 0;
      width: 100%; } }

.team__content-wrapper {
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .team__content-wrapper {
      align-items: center; } }

.team__title {
  color: #f9b43b;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 50px; }

.team__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .team__list {
      align-items: center; } }

.team__item {
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px; }
  .team__item:last-child {
    margin-bottom: 0; }

.team__name {
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  color: #ffffff;
  transition-property: all;
  transition-duration: 0.5s; }
  .team__name::before {
    content: "";
    width: 0;
    height: 0;
    position: relative;
    bottom: -11px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #f9b43b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-right: 10px;
    transition-property: all;
    transition-duration: 0.5s; }
  @media (max-width: 768px) {
    .team__name {
      text-align: center; } }

.team__name--active {
  color: #f9b43b; }
  .team__name--active::before {
    bottom: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #f9b43b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }

.team__people-decription {
  height: 0;
  overflow: hidden;
  margin-top: 15px;
  transition-property: all;
  transition-duration: 0.5s; }
  @media (max-width: 768px) {
    .team__people-decription {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.team__name--active + .team__people-decription {
  height: 123px; }
  @media (max-width: 768px) {
    .team__name--active + .team__people-decription {
      height: 237px; } }

.team__avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .team__avatar {
      margin-bottom: 15px; } }

.team__info {
  display: inline-block;
  max-width: 210px;
  vertical-align: top; }
  @media (max-width: 768px) {
    .team__info {
      text-align: center; } }

.team__member-post {
  display: block;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 700;
  margin-bottom: 10px; }

.team__member-function {
  display: block;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 300; }

.menu {
  background-image: url("/images/menu-bg.jpg");
  position: relative; }

.container--for-menu {
  display: block; }

.menu__title {
  margin: 0;
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  margin-top: 100px; }

.menu__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-width: 50%; }
  @media (max-width: 768px) {
    .menu__content {
      max-width: 100%; } }

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%; }

.menu__item {
  display: flex;
  justify-content: space-between; }

.menu__cover {
  width: 80px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  transition-property: all;
  transition-duration: 0.5s; }
  .menu__cover--meat {
    background-image: url("/images/for-meat-bg.jpg"); }
  .menu__cover--vegan {
    background-image: url("/images/for-vegan-bg.jpg"); }
  .menu__cover--diet {
    background-image: url("/images/for-diet-bg.jpg"); }

.menu__cover--active {
  color: #f9b43b; }
  .menu__cover--active + .menu__description {
    width: 600px; }
    @media (max-width: 768px) {
      .menu__cover--active + .menu__description {
        width: 530px; } }
    @media (max-width: 480px) {
      .menu__cover--active + .menu__description {
        width: 240px; } }

.menu__type-title {
  text-align: center;
  width: 100vh;
  transform: rotate(-90deg);
  position: absolute;
  margin: auto; }

.menu__description {
  width: 0;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.9);
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  height: 100vh;
  transition-property: all;
  transition-duration: 0.5s; }

.menu__text {
  padding: 60px 35px; }

.menu__paragraph {
  margin: 0; }

.reviews {
  min-height: 100vh;
  background-color: #2f3234; }

.reviews-container {
  margin: 0 auto;
  height: 100vh;
  min-height: 650px;
  width: 100%; }

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap; }

.reviews__item {
  flex-basis: 25%;
  height: 50vh;
  position: relative;
  flex-grow: 1; }
  @media (max-width: 768px) {
    .reviews__item {
      flex-basis: 50%;
      height: 25vh;
      text-align: center; } }
  .reviews__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.7);
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s; }
  .reviews__item:hover::after {
    opacity: 1; }

.reviews__avatar {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  filter: grayscale(100%); }
  @media (max-width: 768px) {
    .reviews__avatar {
      height: 25vh; } }

.reviews__preview {
  opacity: 0;
  z-index: 10;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition-property: all;
  transition-duration: 0.3s; }
  @media (max-width: 480px) {
    .reviews__preview {
      text-align: center; } }

.reviews__item:hover > .reviews__preview {
  opacity: 1; }

.reviews__autor-name {
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 1.2; }
  @media (max-width: 480px) {
    .reviews__autor-name {
      font-size: 24px; } }

.reviews__info {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }
  @media (max-width: 480px) {
    .reviews__info {
      display: none; } }

.buy-button--more {
  background-color: #2f3234; }
  .buy-button--more:hover {
    background-color: #1f2122; }
  @media (max-width: 480px) {
    .buy-button--more {
      margin-top: 25px; } }

.buy {
  background-image: url("/images/buy-bg.jpg"); }

.buy__title {
  color: #f9b43b;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 40px;
  text-align: center; }
  @media (max-width: 480px) {
    .buy__title {
      font-size: 50px; } }

.buy__forms {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .buy__forms {
      flex-direction: column;
      justify-content: flex-start;
      width: 58.5%; } }
  @media (max-width: 480px) {
    .buy__forms {
      width: 100%; } }

.buy__left-forms {
  flex-basis: 50%;
  flex-grow: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 205px; }
  @media (max-width: 768px) {
    .buy__left-forms {
      margin-right: 0;
      margin-bottom: 20px; } }

.buy__right-forms {
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 260px; }

.buy__form-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

.buy__label {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin-bottom: 7px; }

.buy__input {
  display: block;
  background-color: #ffffff;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  width: 100%; }
  .buy__input:focus {
    border: 2px solid #f9b43b; }

.buy__input--textarea {
  height: 110px; }

.buy__form-element {
  position: relative; }

.buy__left-forms .buy__form-line:nth-child(1) .buy__form-element {
  flex-basis: 50%;
  margin-right: 20px; }
  .buy__left-forms .buy__form-line:nth-child(1) .buy__form-element:last-child {
    margin-right: 0; }

.buy__left-forms .buy__form-line:nth-child(2) .buy__form-element {
  flex-basis: 100%; }

.buy__left-forms .buy__form-line:nth-child(3) .buy__form-element {
  flex-basis: 25%;
  margin-right: 20px; }
  @media (max-width: 480px) {
    .buy__left-forms .buy__form-line:nth-child(3) .buy__form-element {
      flex-basis: 33%; } }
  .buy__left-forms .buy__form-line:nth-child(3) .buy__form-element:last-child {
    margin-right: 0; }
  @media (max-width: 480px) {
    .buy__left-forms .buy__form-line:nth-child(3) .buy__form-element:nth-child(4) {
      display: none; } }
  @media (max-width: 480px) {
    .buy__left-forms .buy__form-line:nth-child(3) .buy__form-element:nth-child(3) {
      margin-right: 0; } }

.buy__right-forms .buy__form-line:nth-child(1) .buy__form-element {
  flex-basis: 100%; }

@media (max-width: 480px) {
  .buy__right-forms .buy__form-line:nth-child(2) .buy__form-element {
    width: 100%;
    display: flex;
    justify-content: center; } }

@media (max-width: 480px) {
  .buy__right-forms .buy__form-line:nth-child(3) .buy__form-element {
    width: 100%;
    display: flex;
    justify-content: center; } }

@media (max-width: 480px) {
  .buy__right-forms .buy__form-line:nth-child(4) .buy__form-element {
    width: 100%;
    display: flex;
    justify-content: center; } }

.buy__radio {
  display: none; }

.buy__label-radio {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
  margin-right: 25px; }
  .buy__label-radio:last-child {
    margin-right: 0; }
  .buy__label-radio::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 100%;
    border: 4px solid #ffffff;
    position: relative;
    top: 3px;
    margin-right: 10px; }

.buy__radio:checked + .buy__label-radio::before {
  background-color: #e35028; }

.buy__checkbox {
  display: none; }

.buy__label-checkbox {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer; }
  .buy__label-checkbox::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 1px;
    position: relative;
    top: 3px;
    margin-right: 10px; }

.buy__checkbox:checked + .buy__label-checkbox::before {
  background-image: url("/images/checkbox.png");
  background-size: 11px 9px;
  background-position: center center;
  background-repeat: no-repeat; }

.buy-button--margin-right {
  margin-right: 17px; }

.buy__reset {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  background-color: transparent;
  border: none; }

.buy__validate-message {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(120%);
  font-size: 16px;
  color: #d1cfcb;
  background-color: #e35028;
  border-radius: 5px;
  width: 100%;
  line-height: 1.5; }

.buy-modal {
  background-color: rgba(47, 50, 52, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition-property: all;
  transition-duration: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s; }

.buy-modal__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  min-width: 160px;
  min-height: 66px;
  padding: 20px; }

.buy-modal__text {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2f3234;
  line-height: 1.2;
  text-align: center; }

.footer {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.footer__map {
  height: 100%;
  width: 100%; }

.footer__map-desc {
  color: #e45028;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5; }

.footer__main-footer {
  background-color: #121212;
  bottom: 0;
  width: 100%; }

.container--footer {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: stretch; }

.footer__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 480px) {
    .footer__flex-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 0; } }

.footer__contacts {
  flex-basis: 30%; }
  @media (max-width: 768px) {
    .footer__contacts {
      flex-basis: 50%; } }
  @media (max-width: 480px) {
    .footer__contacts {
      text-align: center;
      margin-bottom: 15px; } }

.footer__address {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }

.footer__phone {
  color: #e45028;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  padding-left: 20px;
  position: relative; }
  .footer__phone::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 11px;
    background-image: url("/images/icons/phone.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 3px; }

.footer__social {
  flex-basis: 30%;
  text-align: right; }

.footer__social-link {
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }
  .footer__social-link:hover .footer__social-icon {
    opacity: 1; }
  .footer__social-link:first-child .footer__social-icon {
    width: 23px;
    height: 13px; }
  .footer__social-link:last-child {
    margin-right: 0; }

.footer__social-icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition-property: all;
  transition-duration: 0.5s; }

.review-popup {
  background-color: rgba(47, 50, 52, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition-property: all;
  transition-duration: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s; }

.review-popup__container {
  padding: 30px 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  width: 420px;
  height: auto; }

.review-popup__name {
  margin: 0;
  font-family: "Gagalin", sans-serif;
  font-size: 14px;
  color: #2f3234;
  line-height: 1.2;
  margin-bottom: 25px; }

.review-popup__text {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #2f3234;
  line-height: 1.7; }

.review-popup__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  color: #ec8468; }
  .review-popup__close-btn::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #ec8468;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(45deg); }
  .review-popup__close-btn::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #ec8468;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(-45deg); }
