.hambmenu {
  background-color: #2f3234;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10000;
  display: none;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container--hambmenu {
  min-width: 708px;

  @include phones {
    min-width: 440px;
  }
}

.hambmenu__header {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto;
}

.hambmenu__close-btn {
  position: relative;
  cursor: pointer;
  display: block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  color: #ffffff;
  &::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #c1c2c2;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(45deg);
  }
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #c1c2c2;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(-45deg);
  }
}

.hambmenu__nav {
  margin-top: 180px;

  @include phones {
    margin-top: 100px;
  }
}

.hambmenu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

.hambmenu__list-item {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 23px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #c1c2c2;
  }
  &:last-child {
    padding: 0;
    margin: 0;
    &::after {
      display: none;
    }
  }
}

.hambmenu__link {
  color: #c1c2c2;
  text-decoration: none;
}