.intro {
  background-image: url("../images/intro-bg.png");
}

.container--intro {
  justify-content: space-between;
}

.header {
  position: relative;
  padding-top: 12px;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo--intro {
  margin-right: 15px;
}

.header__nav {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: right;
  @include tablets {
    display: none;
  }
}

.header__list-item {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #ffffff;
    right: -2px;
    bottom: 9px;
  }
  &:last-child::after {
    display: none;
  }
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  position: relative;
}

.intro__visual {
  display: flex;
  margin: 0;
  @include tablets {
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
}

.header__hambmenu-btn {
  width: 24px;
  height: 22px;
  cursor: pointer;
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  border: none;
  position: relative;
  display: none;
  @include tablets {
    display: block;
  }
}

.header__hambmenu-btn-lines {
  width: 24px;
  height: 4px;
  position: absolute;
  top: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
}

.intro__picture {
  width: 451px;
  height: 424px;
  margin-right: 10px;
  @include tablets {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.intro__title {
  color: #f9b43b;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
  margin: 0;
  margin-top: 130px;
  @include tablets {
    text-align: center;
    margin-top: 0;
  }
}

.intro__title--lettering {
  display: block;
  font-size: 65px;
  color: #ffffff;
  line-height: 85px;
  font-family: "Lifehack";
  font-weight: 500;
}

.intro__control-down {
  font-size: 0px;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  & svg {
    width: 30px;
    height: 20px;
    fill: $white-color;
    transition-property: all;
    transition-duration: 0.5s;
    &:hover {
      fill: $yellow-color;
    }
  }
}