.menu {
  background-image: url("./images/menu-bg.jpg");
  position: relative;
}

.container--for-menu {
  display: block;
}

.menu__title {
  margin: 0;
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  margin-top: 100px;
}

.menu__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-width: 50%;

  @include tablets {
    max-width: 100%;
  }
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.menu__item {
  display: flex;
  justify-content: space-between;
}

.menu__cover {
  width: 80px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Gagalin", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  transition-property: all;
  transition-duration: 0.5s;

  &--meat {
    background-image: url("./images/for-meat-bg.jpg");
  }
  &--vegan {
    background-image: url("./images/for-vegan-bg.jpg");
  }
  &--diet {
    background-image: url("./images/for-diet-bg.jpg");
  }
}

.menu__cover--active {
  color: #f9b43b;
  & + .menu__description {
    width: 600px;

    @include tablets {
      width: 530px;
    }

    @include phones {
      width: 240px;
    }
  }
}

.menu__type-title {
  text-align: center;
  transform: rotate(-90deg);
  position: absolute;
  margin: auto;
  width: 400px;
}

.menu__description {
  width: 0;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.9);
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  height: 100%;
  transition-property: all;
  transition-duration: 0.5s;
}

.menu__text {
  padding: 60px 35px;
}

.menu__paragraph {
  margin: 0;
}