.review-popup {
  background-color: rgba(47, 50, 52, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition-property: all;
  transition-duration: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s;
}

.review-popup__container {
  padding: 30px 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  width: 420px;
  height: auto;
}

.review-popup__name {
  margin: 0;
  font-family: "Gagalin", sans-serif;
  font-size: 14px;
  color: #2f3234;
  line-height: 1.2;
  margin-bottom: 25px;
}

.review-popup__text {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #2f3234;
  line-height: 1.7;
}

.review-popup__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  color: #ec8468;
  &::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #ec8468;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(45deg);
  }
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #ec8468;
    width: 23px;
    height: 3px;
    border-radius: 10px;
    transform: rotate(-45deg);
  }
}

